<p>viewer component</p>
<app-annotools></app-annotools>
<h1>PDF.js Previous/Next example</h1>

<!-- <div>
  <button id="prev">Previous</button>
  <button id="next">Next</button>
  &nbsp; &nbsp;
  <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
</div>

<canvas id="the-canvas"></canvas> -->

<div id="content-wrapper">
  <div id="viewer" class="pdfViewer"></div>
</div>
<div id="comment-wrapper">
  <h4>Comments</h4>
  <div class="comment-list">
    <div class="comment-list-container">
      <div class="comment-list-item">No comments</div>
    </div>
    <form class="comment-list-form" style="display:none;">
      <input type="text" placeholder="Add a Comment"/>
    </form>
  </div>
</div>